<!DOCTYPE html>
<html>
    <head>
        <title>Manage Flights</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="../../assets/LOGO.png" alt="Travel Image">
                <h1>Trip Scape</h1>
                <div class="exit">
                    <a href="">Exit-->></a>
                </div>
            </div>
            <div id="flightdisplay">
                <h1>Flights</h1>
                <div class="flight-card">
                    <div class="upper">
                        <button class="addflight" (click)="openAddModal()">Add Flight +</button>
                        <div *ngFor="let flight of flightDetails">
                            <div class="left1">
                                <img [src]="getHotelImageSrc(flight.img)" alt="Flight Image">
                            </div>
                            <div class="hcontent">
                                <h2>{{ flight.num }} - {{flight.name}}</h2>
                                <div class="content">
                                        <p>Departure Place : {{flight.dept.split(',')[1]}}</p>
                                        <p>Departure Time  : {{flight.dept.split(',')[0]}}</p>
                                        <p>Arrival Place   : {{flight.arr.split(',')[1]}}</p>
                                        <p>Arrival Time    : {{flight.arr.split(',')[0]}}</p> 
                                        <p>Base Price      : Rs. {{flight.price}}</p>
                                        <p>Travel Hours    : {{flight.hour}}</p>  
                                        <p>Seats           : {{flight.seats}}</p>                           
                                </div>  
                                <a class="vm" ><img src="../../assets/update.gif">Update</a> 
                                <a class="dm" ><img src="../../assets/del.gif">Delete</a>                  
                            </div>                        
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>